#content-area{
    overflow: auto;
    width: 100%;
   //background: black;
}

#filter {
    background: $grey;
    width: 30%;
    max-width: 300px;
    display: inline-block;
    float: left;
    .inside{
        padding: 20px;
        max-width: 300px;
    }         

    h4{
        font-size: .9rem;
        margin-bottom: 25px;
        font-weight: 500px;
        text-transform: uppercase;
    }

    select {
        background: transparent;
        padding: 10px;
        font-size: 14px;
        font-weight: 500px;
        color: $darkgrey;
        display: block;
        margin-bottom: 25px;
        border-radius: 5px;
        width: 100%       
    }

    .slider{
        display: block;
        width: 100%;
        display: inline-block;
    }

    .checkbox {
        display: block;
        width: 100%;
        padding: 10PX 0px;
    }
    .facilities {
        float: right;
    }
}

#listings{
    
    width: 70%;
    float: left;
    padding: 15px;
    display: inline-block;
    background: $offwhite;
    

    .search-area{
        input[type="text"]{
            width: 70%;
            background: transparent;
            font-size: 2rem;
            border: none;
            border-bottom: 2px solid $lightgrey;
            margin-bottom: 20px;
            color: $lightgrey;
        }
    }

    .sortby-area{
        margin-bottom: 20px;
        
        .results{
            color: $lightgrey;
            font-size: .8rem;

            
        }
    .sort-options {
        float: right;
    }
    .view{
        display: inline-block;
        .fa-list{
            margin-right: 10px;
        }
    }
    .sortby{
        margin-right: 10px;
    }
    }

    .listing-results{
        margin-bottom: 60px;
        
        .card.col-md-3{
            display: inline-block;
            padding: 0px 15px;
            width: 25%;
        }
        .listing{
            background: #fff;
            //width: 33.33%;
            border-radius: 5px;
            -webkit-box-shadow: 0px 7px 5px 0px rgba(199,191,199,0.62);
            -moz-box-shadow: 0px 7px 5px 0px rgba(199,191,199,0.62);
            box-shadow: 0px 7px 5px 0px rgba(199,191,199,0.62);
        
            .listing-img{
                color: white;
                padding: 15px;
                position: relative;
                
                //background: url("https://cdn.houseplans.com/product/o2d2ui14afb1sov3cnslpummre/w1024.jpg?v=15") no-repeat center center; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                min-height: 200px;
                -webkit-border-top-left-radius: 5px;
                -webkit-border-top-right-radius: 5px;
                -moz-border-radius-topleft: 5px;
                -moz-border-radius-topright: 5px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                &:hover{
                    .details{
                        opacity: 1;
                    }
                    .adress{
                        opacity: 0;
                    }
                }
                .adress{
                    font-size: 1.3rem;
                    text-transform: capitalize;
                    position: absolute;
                    bottom: 20px;
                    opacity: 1;
                    text-shadow: 0px 5px 2px rgba(91, 91, 91, 1);
                    transition: all .6s ease-in-out;
                    
                }
                .details{
                    transition: all .6s ease-in-out;
                    opacity: 0;
                    .col-md-3{
                        display: inline-block;
                        vertical-align: top;
                        width: 25%;
                    }
                    .col-md-9{
                        display: inline-block;
                        width: 75%;
                        
                        .view-btn{
                            background: black;
                            border-radius: 5px;
                            font-size: .9rem;
                            padding: 10px;
                            text-align: center;
                            max-width: 150px;
                            transition: background .3s ease-in-out;
                            &:hover{
                                background: $pink;
                                cursor: pointer;
                            }
                            
                            webkit-box-shadow: 0px 7px 5px 0px rgba(199,191,199,0.62);
            -moz-box-shadow: 0px 7px 5px 0px rgba(199,191,199,0.62);
            box-shadow: 0px 7px 5px 0px rgba(199,191,199,0.62);
                        }
                    }
                    
                    padding: 30px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0px;
                    right: 0px;
                    
                    
                    -webkit-border-top-left-radius: 5px;
                    -webkit-border-top-right-radius: 5px;
                    display: block;     -moz-border-radius-topleft: 5px;
                    -moz-border-radius-topright: 5px;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8856ea+0,d87eea+100 */
                    background: rgba(136,86,234,.8); /* Old browsers */
                    background: -moz-linear-gradient(-45deg, rgba(136,86,234,.8) 0%, rgba(216,126,234,.8) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(-45deg, rgba(136,86,234,.8) 0%,rgba(216,126,234,.8) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(135deg, rgba(136,86,234,.8) 0%,rgba(216,126,234,.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8856ea', endColorstr='#d87eea',GradientType=1 ); 
                    /* IE6-9 fallback on horizontal gradient */
                    .user-img{
                        background: url("https://cdn.houseplans.com/product/o2d2ui14afb1sov3cnslpummre/w1024.jpg?v=15") no-repeat center center; 
                        -webkit-background-size: cover;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                        background-size: cover;
                        margin-top: 10px;
                        margin-left: 10px;

                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        border: 2px solid white;
                        display: inline-block;
                    }
                    .user-details{
                        vertical-align: top; 
                        display: inline-block;
                        margin-top: 10px;

                        .user-name{
                       
                            color: rgba(255,255,255,1);
                            display: block;
                            font-size: .9rem;
                            font-weight: 300;
                            margin-bottom: 5px;
                        }
                    }webkit-box-shadow: 0px 7px 5px 0px rgba(199,191,199,0.62);
                    -moz-box-shadow: 0px 7px 5px 0px rgba(199,191,199,0.62);
                    box-shadow: 0px 7px 5px 0px rgba(199,191,199,0.62);
                    
                    .post-date{
                        color: rgba(255,255,255,.7);
                        display: block;
                        font-size: .7rem;
                    }
                }
                
                
                .listing-details{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    .fas {
                        display: inline-block;
                        font-size: 20px;
                        margin-right: 50px;
                    
                    }
                    span{
                        display: inline-block;
                        font-size: .8rem;
                        font-weight: 300;
                        margin-right: 50px;
                        position: relative;
                        top: 2px;
                        vertical-align: top;
                    }
                    svg {
                        margin-right: 15px;
                    }
                    .floor-space{
                        margin-bottom: 10px;
                    }
                  
                }
            } 
            .bottom-info{
                padding: 15px 10px;
                
                .price{
                    display: block;
                    font-size: 1.1rem;
                    margin-bottom: 10px;
                    color: $darkgrey;
                    
                }
                .location{
                    display: block;
                    font-size: 1.3rem;
                    color: $lightgrey;
                    svg{
                       margin-right: 10px;
                    }
                }
            }   
        }
    }
    #pagination{
        text-align: center;
        .pages{
            
            display: inline-block;
            background: white;
            webkit-box-shadow: 0px 7px 5px 0px rgba(199,191,199,0.62);
            -moz-box-shadow: 0px 7px 5px 0px rgba(199,191,199,0.62);
            box-shadow: 0px 7px 5px 0px rgba(199,191,199,0.62);
            
            li{
                display: inline-block;
                padding: 20px 30px;

                &.active,
                &:hover{
                    color: white;
                    font-weight: 700;
                    background: $pink;
                    cursor: pointer;
                }

            }
        }
    }
}

