header {
    background: #0B002A;
    color: white;
    overflow: auto;
    padding: 20px 15px;
    
    text-align: center;

    .logo{
        float: left;
    }

    nav {
        float: right;
        a {
            font-weight: 300;
            font-size: .9rem;
            text-decoration: none;
            padding: 7px 20px;
            color: white;
            &:hover{
                color: $pink;
            }
            &.register-btn {
                background: $pink;
                padding: 7px 15px;
                color: white;
                border-radius: 5px;
                text-align: center;    
            }
            
            }
        }
}